DOMAIN=localhost
# DOMAIN=local.dockertoolbox.tiangolo.com
# DOMAIN=localhost.tiangolo.com
# DOMAIN=dev.{{cookiecutter.domain_main}}

STACK_NAME=mongodb-fastapi-app

TRAEFIK_PUBLIC_NETWORK=traefik-public
TRAEFIK_TAG=
TRAEFIK_PUBLIC_TAG=traefik-public

DOCKER_IMAGE_BACKEND=docker_image_backend
DOCKER_IMAGE_CELERYWORKER=docker_image_celeryworker
DOCKER_IMAGE_FRONTEND=docker_image_frontend

# Backend
BACKEND_APP_MODULE=app.main:app
BACKEND_CORS_ORIGINS=["http://localhost", "http://localhost:4200", "http://localhost:3000", "http://localhost:8080", "https://localhost", "https://localhost:4200", "https://localhost:3000", "https://localhost:8080", "http://dev.mongodb-fastapi-app.com", "https://stag.mongodb-fastapi-app.com", "https://mongodb-fastapi-app.com"]
BACKEND_PRE_START_PATH=/app/prestart.sh
PROJECT_NAME=mongodb-fastapi-app
SECRET_KEY=changethis
TOTP_SECRET_KEY=changethis
FIRST_SUPERUSER=changethis
FIRST_SUPERUSER_PASSWORD=changethis
SMTP_TLS=True
SMTP_PORT=587
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=info@mongodb-fastapi-app.com
EMAILS_FROM_NAME=Symona Adaro
EMAILS_TO_EMAIL=info@mongodb-fastapi-app.com

USERS_OPEN_REGISTRATION=True

SENTRY_DSN=

# Flower
FLOWER_BASIC_AUTH=admin:changethis

# Mongo
MONGO_DATABASE_URI=mongodb
MONGO_DATABASE=